body {
  text-align: center;
  font-family: Arial;
  background: lightblue;
}

button {
  font-size: 30px;
  padding: 20px 40px;
  background: red;
  color: white;
  border: none;
  border-radius: 15px;
}
